.App {
  margin: 0;
  padding: 0;
}

a {
  padding: 1rem;
  text-decoration: none;
  font-size: 1.2rem;
  color: #424749;
  background-color: #e2e4e4;
}

a:hover {
  color: #f1f1f2;
  background-color: #424749;
}

.fs-7 {
  font-size: 10px;
  margin: 0;
}

.fs-6 {
  margin: 0;
}

.rounded-4 {
  border-radius: 10px;
}

.roundedtop {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.material-icons.redL { color: #f9423a; }

.material-icons.md-16 { font-size: 16px; }

.btn-danger {
  padding-bottom: 0;
  background-color: #f9423a;
}

.modal-dialog {
  position: fixed;
  margin: auto;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.modal-content {
  height: auto;
  overflow-y: auto;
}

.modal-body {
  padding: 15px 15px;
}

.modal.bottom.fade .modal-dialog {
  bottom: -100%;
  -webkit-transition: opacity 0.3s linear, bottom 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, bottom 0.3s ease-out;
  -o-transition: opacity 0.3s linear, bottom 0.3s ease-out;
  transition: opacity 0.3s linear, bottom 0.3s ease-out;
}

.modal.bottom.fade.show .modal-dialog {
  bottom: 0;
}

.modal.bottom.fade .modal-dialog {
  bottom: -100%;
}

#LDbar {
  transition: top 0.3s;
  top: 140px;
}